
.text {
border-top:1px solid black;
}

.wrapper {
  margin:0 35% 0 35%;
  width:30%;
  height:700px;
  background-color:white;
  background-position: top;
  box-shadow: 0 0 2px #8B8989;
  padding: 50px 50px 50px 50px;
}
.header {
  width: 500px;
  margin: 0 15% 60px 15%;
}
p {
  padding-top: 5px;
  padding-bottom:5px;
  padding-left: 20px;
}

img {
  margin: 0 25% 0 25%;
}
body {
  background-color:#EEE9E9;
}
